@tailwind utilities;

div.source-handle {
  width: 10px;
  height: 10px;
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  transform: none;
  border: none;
  opacity: 1;
  margin: 0px;
}

div.target-handle {
  width: 100%;
  height: 100%;
  /* background: blue; */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
  margin: 0px;
}

.note-drag-handle {
  @apply absolute;
  left: 5px;
  bottom: 5px;
  top: auto;
  width: 10px;
  height: 10px;
  background-color: teal;
  border-radius: 50%;
  cursor: grab;
}

.grid-separator {
  stroke-width: 1;
  @apply stroke-black;
  stroke-linecap: round;
  stroke-dasharray: 1, 2;
}

.grid-separator-horizontal {

}

.grid-separator-vertical {
  stroke-opacity: 0.1;
}

.grid-rect {
  stroke-opacity: 0.1;
  stroke-width: 1;
  @apply stroke-black;
  @apply fill-none;
}

.react-flow__node.selected {
  @apply outline-dashed outline-offset-2 outline-blue-300;
}

.react-flow__node.selectable:focus, .react-flow__node.selectable:focus-visible {
  @apply outline outline-offset-2 outline-blue-300;
}